.footer {
    background-color: #171616;
    /* background-color: antiquewhite; */
    /* box-sizing: border-box; */
}

.footer__wrapper {
    max-width: 1280px;
    padding: 100px 50px 24px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__anchor-container {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
}

.footer__anchor-link {
    
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.footer__anchor-link:hover {
    color: #909090;
}

.footer__container {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.footer__title {
    color: #101010;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding: 4px;
    background-color: #8b8b8b;
    border-radius: 4px;
}


.footer__date {
    margin: 4px 0 0 ;
    color: #8b8b8b;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}