.root {
    margin: 0 auto;
    padding: 0;
    /* width: 1280px; */
    box-sizing: border-box;
    /* min-width: 1024px; */
}

/* .root_width { */
    /* background-color: red; */
/* } */


html {
 scroll-behavior: smooth;
}


