* {
  box-sizing: border-box;
}



.square-game {
  background-color: #171616;
  overflow: hidden;
  
}

.square-game__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 254px;
  /* height: 50vh; */
  margin: 50px auto;
  max-width: 1280px;
}

.square-game__wrap {
  width: 300px;
  height: 254px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 39, 39, 0.3);
  box-shadow:  0px 0px 25px rgba(136, 136, 136, 0.25);
  border-radius: 10px;
  opacity: 0.5;
}

.square-game__wrap:hover {
  opacity: 1;
}


.square-game__info {
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 36px;
}

.square-game__title {
  margin: 0;
  color: #eee;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  /* text-align: center; */
}

.square-game__text {
  color: #909090;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 400px;
  /* margin-top: 30px; */
}

.square-game__board {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  max-height: 280px;
  flex-wrap: wrap;
  /* margin-left: 50px; */
}

.square-game__square {
  width: 12px;
  height: 12px;
  background-color: #909090;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 5s ease;
}

.square-game__square:hover {
  transition-duration: 0s;
}

